header {
    background-image: url("pozadie.jpg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;

}
body {

    background-color: black !important;;
}

h1 {
    color: White;
    font-style: italic;
    font-size: large;
}

img {
    padding: 5px;
    align-content: center;
    width: 700px;
}

h2 {
    color: lightgray;
}

