header {
    background-image: url("pozadie.jpg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;

}
body {

    background-color: black !important;;
}

h1 {
    color: White;
    font-style: italic;
    font-size: large;
}

img {
    padding: 5px;
    align-content: center;
    width: 700px;
}

.darkBackround {
    background-color: #454140;
    color: white;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

h2 {
    color: lightgray;
}

.link {
    color: white;
    padding: 5px;
    margin: 3px;
}

a.link.active {
    color: darkgrey;
}

.container.dark {
    background-color: black;
    color: darkgrey;
    align-self: center;
}