header {
    background-image: url("pozadie.jpg");
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;

}
body {

    background-color: black !important;;
}

h1 {
    color: White;
    font-style: italic;
    font-size: large;
}

img {
    padding: 5px;
    align-content: center;
    height: 70vh;
    margin-top: 30px;
}

.darkBackground {
    background-color: #454140;
    color: white;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

h2 {
    color: lightgray;
}

.link {
    color: white;
    padding: 5px;
    margin: 3px;
}

a.link.active {
    color: darkgrey;
}

.container.dark {
    background-color: black;
    color: darkgrey;
    align-self: center;
}


h3 {
    text-align: start;
    align-self: start;
}

.recipe-card {
    border:1px solid #f0f1f3;
    width: 80vw;
    margin: 50px auto;
    color: white;
}

.recipe-card-header {
    background-image: url("pizza.jpg");
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
}
.recipe-card__body {
    padding: 20px;
}
.recipe-card__heading {
    padding: 0;
    margin: 0 0 0;
    color: #444;
}
.recipe-card__subhead {
    font-size: 13px;
    color: #555;
    margin-bottom: 30px;
}
.recipe-card__ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    column-count: 1;
}
li {
    margin-bottom: 5px;
}
li:before {
    content: '\2022';
    color: #eb9376;
    margin-right: 5px;
}

.recipe-card__nav {
    margin: 0 0 20px;
    padding: 0;
    border-bottom: 1px solid #eb9376;
}
li {
    display: inline-block;
    margin-right: 30px
}
h3 {
    margin: 0;
    padding: 0;
}
h3:after {
    content: '';
    display: block;
    width: 0%;
    padding-top: 10px;
    margin: 0 auto;
    border-bottom: 5px solid #eb9376;
    transition: width 250ms ease-in-out 0s;
}
h3:hover {
    cursor: pointer;
}
h3:hover:after, h3.active:after {
    width: 100%;
}


/*@media (min-width:599px) {*/
/*    .recipe-card {*/
/*        width: 600px*/
/*    }*/
/*    .recipe-card__ingredients {*/
/*        column-count: 2*/
/*    }*/
}